*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
body{
  background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../image/bg.jpeg);
  height: 70vh !important;
  
  
  /*end nav*/
}
.header{
  width:30%;
  height:70%;
  position: absolute;
  /*margin:120px 0 0 400px;*/
  background: #2a3c54;
  padding:60px 30px;
  top: 21%;
  left: 38%;
  transform: translate(-8%);
  color:#fff; 
  box-shadow:2px 5px #ccc;
}
.header .login img{
  position: absolute;
  top: -69%;
  right: 144px;
  border:2px solid rgb(243, 105, 8);
  border-radius: 20% !important;
  -moz-border-radius: 20% !important;
  -webkit-border-radius: 20% !important;
  -o-border-radius: 20% !important;
}
.header .login:hover img{
  transform:rotate(20deg);
  
}
.header .login input[type="text"]{
  width:72% !important;
}
.header .login input[type="password"]{
  width:69% !important;
}
.header .login a.btn{
  display: block;
  background:rgb(243, 105, 8);
  color:#fff;
  width:91% !important;
  transition: all 2s ease-in-out;
}
.header .login a.btn:hover{
  background: none;
  color:rgb(243, 105, 8);
  border:2px solid rgb(243, 105, 8);
  border-radius: 20% !important;
  -moz-border-radius: 20% !important;
  -webkit-border-radius: 20% !important;
  -o-border-radius: 20% !important;

}