*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
body{
  background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../image/bg.jpeg);
  height: 70vh !important;
  
  
  /*end body*/
}
/*start text*/

.school .text-info{
  color:#fff !important;
  position:relative;
}
.school .text-info::after{
  position: absolute;
  content: "";
  margin:20px  auto;
  width: 14%;
  height: 12%;
  background: rgb(243, 105, 8);
  top: 33px;
  left: 44%;
}
.school .text-info span{
  color:#ccc;
}
@media(max-width:992px){
  .school .text-info{
    font-size: 13px;
  }
  .school .text-info:after{
    top: 121%;
    width: 33%;
    left: 34%;
  }
}
.header{
  width:30%;
  height:70%;
  position: absolute;
  /*margin:120px 0 0 400px;*/
  background: #2a3c54;
  padding:60px 30px;
  top: 21%;
  left: 38%;
  transform: translate(-8%);
  color:#fff; 
  box-shadow:2px 5px #ccc;
}
.header .login img{
  position: absolute;
  top: -69%;
  right: 144px;
  border:2px solid rgb(243, 105, 8);
  border-radius: 20% !important;
  -moz-border-radius: 20% !important;
  -webkit-border-radius: 20% !important;
  -o-border-radius: 20% !important;
}
.header .login:hover img{
  transform:rotate(20deg);
  
}
.header .login input[type="text"]{
  width:72% !important;
}
.header .login input[type="password"]{
  width:69% !important;
}
.header .login a.btn{
  display: block;
  background:rgb(243, 105, 8);
  color:#fff;
  width:91% !important;
  transition: all 2s ease-in-out;
}
.header .login a.btn:hover{
  background: none;
  color:rgb(243, 105, 8);
  border:2px solid rgb(243, 105, 8);
  border-radius: 20% !important;
  -moz-border-radius: 20% !important;
  -webkit-border-radius: 20% !important;
  -o-border-radius: 20% !important;

}
@media(max-width:992px){
  .header{
    width:91%;
    height:100%;
    margin:93px 36px;
    position:inherit;
  }
  .header .login img{
    width:50px;
    height: 50px;
    right:94px;
  }
  label{
    font-size: 10px !important;
  }
  .header .login input[type="text"],.header .login input[type="password"]{
    height: 38px;
    font-size: 12px;
  }

}